body{
   background-color:#CD6723;
   color:white;
 }

label{
    display: none;
}

#date {
    width: 13%;
}

.rechercheItineraires {
    margin-bottom: 2%;
}

.form-submit {
    margin-left: 8%;
}

.rechercheSubmit {
    color: #1C2224;
    vertical-align: middle;
    background: #C7C7C7;
    width: 15%;
}

 table
{
   border-collapse: collapse; 

}

table thead th
{
   text-transform: lowercase;
   font-weight: bold;
   background-color: dimgray;
   color:white;
}


td,th
{
   border-bottom: 1px solid lightgray;
   font-family: "Times New Roman", Times, serif;
   padding: 1px 10px;
}