body{
   background-color:#CD6723;
   color:white;
 }
 a{
 color: #00AACC;
 }
 
 table
{
   border-collapse: collapse; 
}

table thead th
{
   text-transform: lowercase;
   font-weight: bold;
   background-color: dimgray;
   color:white;
}


td,th
{
   border-bottom: 1px solid lightgray;
   font-family: "Times New Roman", Times, serif;
   padding: 1px 10px;
}