.content_text{

   background-color:;
}

.horaire{
     text-transform: uppercase;
}
.ht2evrycom-colors-automatic{
      color: red;
}

.content_text{
    width:50%;
	height:80%;
    margin:1% auto;
}
.bouton_rechercher{
   background-color:#FF0101;
   /*background-color:transparent;*/
  /* border: 1px solid #555555;*/ 
}

p{
  color: red;
}


